body{
  background-color: #F5F4F8;
}
/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container{
  /* width: 100%; */
  background-color: white;
  padding: 15px 25px;

}

.btn{
  background-color: white;
  box-shadow: 0 0 6px #ccc9d5;
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #dbdbdb;
  /* color: black; */
  cursor: pointer;
  
}

.pop-up{
  background-color: #f5f4f8;
  border-radius: 6px;
  box-shadow: 0 0 6px #ccc9d5;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 11px 40px;
  position: absolute;
  width: 200px;
}

.selectGroup{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 0px;
}

.dropdown{
  padding: 2px;
  width: 82px;
  text-align: center;
}

.grouping{
  color: #9c9b9f;
  font-weight: 500;
}
.column-container{
  width: 257px;
  height: 100%;
  /* border: 1px solid blue; */
  /* padding: 10px; */
  margin: 0 23px;
}

.columnview-container{
  /* width: 93%; */
  height: 90%;
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: flex-start;
}

.card-container{
  width: 100%;
  min-height: 95px;
  margin: 10px 0px;
  padding: 1px 1px 0 13px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: left;
  font-size: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-bottom-container{
  display: flex;
}